@font-face {
  font-family: 'Lato-Hairline';
  src: url('Lato-Hairline.svg#Lato-Hairline') format('svg'),
       url('Lato-Hairline.ttf') format('truetype'),
       url('Lato-Hairline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('Lato-Thin.eot');
  src: url('Lato-Thin.eot?#iefix') format('embedded-opentype'),
       url('Lato-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

